@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  scroll-behavior: smooth;
}
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--rubik);
  --font-text: var(--inter);
  --color-heading: #0b132a;
  --color-button: #3878ff;
  --color-text: #4f5665;
  --color-background: #f0f4f8;
  --color-success: #28a745;
  --color-error: #ff4d4d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
